{
  "openapi": "3.1.0",
  "info": {
    "title": "IntentFence Policy API",
    "version": "0.7.1",
    "description": "Guard autonomous agent payments with declared-input policy checks and caller-observed x402 quote assessments. Paid endpoints return ES256-signed receipts.",
    "license": {
      "name": "Apache-2.0",
      "identifier": "Apache-2.0"
    },
    "contact": { "url": "https://github.com/razel369/intentfence" },
    "x-guidance": "Use the free preflight for a declared-input preview. Before signing an x402 payment, forward the exact caller-observed PAYMENT-REQUIRED header to the paid quote assessment with an explicit caller-approved payee allowlist."
  },
  "servers": [
    { "url": "https://agentpass-protocol.rmalka06.chatgpt.site" }
  ],
  "security": [],
  "x-agentcash-guidance": {
    "llmsTxtUrl": "https://agentpass-protocol.rmalka06.chatgpt.site/llms.txt"
  },
  "paths": {
    "/api/preflight": {
      "post": {
        "operationId": "runFreePreflight",
        "summary": "Evaluate an agent action with an unsigned preview",
        "tags": ["agent-policy", "security", "preflight"],
        "security": [],
        "x-price": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PreflightRequest" },
              "example": {
                "subject": "did:web:crew-07",
                "action": { "type": "travel.booking", "resource": "TLV-LHR" },
                "constraints": {
                  "currency": "USD",
                  "cost_ceiling": 500,
                  "quoted_cost": 428.2,
                  "data_retention_hours": 24,
                  "human_approval": "required"
                },
                "proofs": ["human_approval"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned preflight decision",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PreflightDecision" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "413": { "description": "JSON body exceeds 16 KiB" },
          "415": { "description": "Unsupported content type" }
        }
      }
    },
    "/api/preflight/verified": {
      "post": {
        "operationId": "runX402Preflight",
        "summary": "Pay 0.005 USDC and receive a signed policy decision",
        "description": "x402 v2 exact payment on Base mainnet (eip155:8453). First call without payment to receive PAYMENT-REQUIRED, then retry with PAYMENT-SIGNATURE. A successful response includes an ES256 JWS receipt; settlement is returned separately in PAYMENT-RESPONSE.",
        "tags": ["agent-policy", "security", "x402", "agent-commerce"],
        "security": [],
        "x-payment-info": {
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.005" },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "asset": "USDC",
                "payTo": "0x833ca7dcdb6a681ddc0c15982ef0d609bceb3a5e"
              }
            }
          ]
        },
        "x-x402-price": "$0.005",
        "x-x402": {
          "version": 2,
          "scheme": "exact",
          "price": "0.005 USDC",
          "network": "eip155:8453",
          "asset": "USDC",
          "payTo": "0x833ca7dcdb6a681ddc0c15982ef0d609bceb3a5e"
        },
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 v2 payment payload returned by an x402-compatible client.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PreflightRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid preflight decision after settlement",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 settlement result, including on-chain transaction proof.",
                "schema": { "type": "string" }
              },
              "X-IntentFence-Request-ID": {
                "description": "IntentFence audit correlation identifier.",
                "schema": { "type": "string", "format": "uuid" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaidPreflightDecision" }
              }
            }
          },
          "402": {
            "description": "Payment is required or the supplied payment could not be verified",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "required": true,
                "schema": { "type": "string" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "413": { "description": "JSON body exceeds 16 KiB; a verified payment is not settled" },
          "415": { "description": "Unsupported content type; a verified payment is not settled" }
        }
      }
    },
    "/api/x402-assessments": {
      "post": {
        "operationId": "createX402Assessment",
        "summary": "Assess a caller-observed x402 quote before paying it",
        "description": "Creates a signed assessment of the exact PAYMENT-REQUIRED challenge observed by the caller. IntentFence does not fetch or purchase the target resource. The assessment validates the official x402 v2 schema, exact payment, Base mainnet, canonical Base USDC and EIP-712 domain, the caller's precise price ceiling, payee policy, timeout, transfer method, extensions, and exact resource-URL binding. Permit2 or unknown active extensions require review. A decision can be safe_to_proceed only when allowed_payees is supplied and every advertised payment option satisfies every automatic check; a mixed safe and unsafe option set is denied. The IntentFence assessment itself costs 0.005 USDC through x402, with atomic EIP-3009 payer-and-nonce replay reservation.",
        "tags": ["x402", "agent-commerce", "merchant-risk", "payment-safety"],
        "security": [],
        "x-payment-info": {
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.005" },
          "protocols": [
            {
              "x402": {
                "version": 2,
                "network": "eip155:8453",
                "asset": "USDC",
                "payTo": "0x833ca7dcdb6a681ddc0c15982ef0d609bceb3a5e"
              }
            }
          ]
        },
        "x-x402-price": "$0.005",
        "x-x402": {
          "version": 2,
          "scheme": "exact",
          "price": "0.005 USDC",
          "network": "eip155:8453",
          "asset": "USDC",
          "payTo": "0x833ca7dcdb6a681ddc0c15982ef0d609bceb3a5e"
        },
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 v2 payment payload. Omit on the first call to receive PAYMENT-REQUIRED.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/X402AssessmentRequest" },
              "example": {
                "subject": "agent:buyer-07",
                "target_url": "https://merchant.example/api/paid-resource",
                "method": "GET",
                "payment_required": "eyJ4NDAyVmVyc2lvbiI6MiwicmVzb3VyY2UiOnsidXJsIjoiaHR0cHM6Ly9tZXJjaGFudC5leGFtcGxlL2FwaS9wYWlkLXJlc291cmNlIiwiZGVzY3JpcHRpb24iOiJQYWlkIHJlc291cmNlIiwibWltZVR5cGUiOiJhcHBsaWNhdGlvbi9qc29uIn0sImFjY2VwdHMiOlt7InNjaGVtZSI6ImV4YWN0IiwibmV0d29yayI6ImVpcDE1NTo4NDUzIiwiYW1vdW50IjoiMTAwMDAiLCJhc3NldCI6IjB4ODMzNTg5ZkNENmVEYjZFMDhmNGM3QzMyRDRmNzFiNTRiZEEwMjkxMyIsInBheVRvIjoiMHgxMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExIiwibWF4VGltZW91dFNlY29uZHMiOjMwMCwiZXh0cmEiOnsibmFtZSI6IlVTRCBDb2luIiwidmVyc2lvbiI6IjIifX1dfQ==",
                "policy": {
                  "max_price_usdc": "0.10",
                  "allowed_payees": ["0x1111111111111111111111111111111111111111"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Caller-observed quote assessment created and the IntentFence fee settled",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64-encoded x402 settlement result for the IntentFence assessment fee.",
                "schema": { "type": "string" }
              },
              "X-IntentFence-Request-ID": {
                "description": "Assessment and audit correlation identifier.",
                "schema": { "type": "string", "format": "uuid" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/X402AssessmentDecision" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/Problem" },
          "402": {
            "description": "Payment is required or the supplied payment could not be verified",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "required": true,
                "schema": { "type": "string" }
              }
            }
          },
          "409": {
            "description": "The EIP-3009 payer and nonce authorization is already in flight or was already used",
            "headers": {
              "Retry-After": {
                "description": "Seconds before a transient in-flight conflict may be retried with a fresh authorization.",
                "schema": { "type": "integer", "minimum": 1 }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "413": { "$ref": "#/components/responses/Problem" },
          "415": { "$ref": "#/components/responses/Problem" },
          "500": { "$ref": "#/components/responses/Problem" },
          "503": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/api/receipts/verify": {
      "post": {
        "operationId": "verifyIntentFenceReceipt",
        "summary": "Verify an IntentFence ES256 compact JWS receipt",
        "tags": ["agent-policy", "security", "receipt-verification"],
        "security": [],
        "x-price": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["jws"],
                "properties": {
                  "jws": { "type": "string", "minLength": 100, "maxLength": 32768 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The receipt signature and registered claims are valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["valid", "claims"],
                  "properties": {
                    "valid": { "const": true },
                    "claims": { "$ref": "#/components/schemas/ReceiptClaims" }
                  }
                }
              }
            }
          },
          "400": { "description": "Malformed, expired, unsupported, or invalid receipt" },
          "413": { "description": "JSON body exceeds 36 KiB" },
          "415": { "description": "Unsupported content type" }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "getIntentFenceHealth",
        "summary": "Read service and protocol availability",
        "security": [],
        "responses": {
          "200": {
            "description": "IntentFence service status",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "429": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/api/payments": {
      "get": {
        "operationId": "getPaymentMetadata",
        "summary": "Read live x402 price, network, recipient, and flow",
        "security": [],
        "responses": {
          "200": {
            "description": "Public payment configuration",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "429": { "$ref": "#/components/responses/Problem" }
        }
      }
    },
    "/api/metrics": {
      "get": {
        "operationId": "getPublicRevenueMetrics",
        "summary": "Read aggregate verified usage, settlement, and revenue counters",
        "security": [],
        "responses": {
          "200": {
            "description": "Privacy-safe aggregate funnel and x402 settlement metrics",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "429": { "$ref": "#/components/responses/Problem" },
          "503": { "description": "Metrics database is temporarily unavailable" }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Problem": {
        "description": "Problem Details error response",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Problem" }
          }
        }
      },
      "InvalidRequest": {
        "description": "Invalid JSON or preflight fields",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["error", "message"],
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ReceiptClaims": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "iss",
          "aud",
          "iat",
          "exp",
          "jti",
          "intentfence_version",
          "assurance",
          "request_id",
          "decision",
          "subject",
          "action",
          "checks",
          "payment"
        ],
        "properties": {
          "iss": { "type": "string", "const": "https://agentpass-protocol.rmalka06.chatgpt.site" },
          "aud": { "type": "string", "const": "intentfence-verifier" },
          "iat": { "type": "integer" },
          "exp": { "type": "integer" },
          "jti": { "type": "string", "minLength": 1, "maxLength": 200 },
          "intentfence_version": { "type": "string", "enum": ["0.5", "0.6"] },
          "assurance": {
            "type": "string",
            "enum": ["declared-input-policy", "caller-observed-x402-quote-assessment"]
          },
          "request_id": { "type": "string", "format": "uuid" },
          "decision": {
            "type": "string",
            "enum": ["safe_to_proceed", "needs_review", "denied"]
          },
          "subject": { "type": ["string", "null"] },
          "action": { "type": ["object", "null"] },
          "checks": { "type": "array", "items": { "type": "object" } },
          "evidence": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "assessed_at",
              "target_url_sha256",
              "target_origin",
              "target_pathname",
              "target_method",
              "payment_requirements_sha256"
            ],
            "properties": {
              "assessed_at": { "type": "string", "format": "date-time" },
              "target_url_sha256": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
              "target_origin": { "type": "string", "format": "uri" },
              "target_pathname": { "type": "string" },
              "target_method": { "type": "string", "enum": ["GET", "HEAD", "POST"] },
              "payment_requirements_sha256": { "type": "string", "pattern": "^[0-9a-f]{64}$" }
            }
          },
          "payment": {
            "type": "object",
            "additionalProperties": false,
            "required": ["protocol", "network", "asset", "amount_atomic", "pay_to"],
            "properties": {
              "protocol": { "type": "string", "const": "x402-v2" },
              "network": { "type": "string" },
              "asset": { "type": "string" },
              "amount_atomic": { "type": "string" },
              "pay_to": { "type": "string" }
            }
          }
        }
      },
      "Problem": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "title", "status", "detail", "instance"],
        "properties": {
          "type": { "type": "string", "format": "uri" },
          "title": { "type": "string" },
          "status": { "type": "integer", "minimum": 400, "maximum": 599 },
          "detail": { "type": "string" },
          "instance": { "type": "string" }
        }
      },
      "X402AssessmentRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["subject", "target_url", "payment_required", "policy"],
        "properties": {
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "example": "agent:x402scan-probe"
          },
          "target_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "HTTPS resource URL that the caller associates with the observed quote. IntentFence does not fetch this URL.",
            "example": "https://merchant.example/api/paid-resource"
          },
          "method": { "type": "string", "enum": ["GET", "HEAD", "POST"], "default": "GET" },
          "payment_required": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16384,
            "pattern": "^[A-Za-z0-9+/_-]+={0,2}$",
            "description": "Exact base64 or base64url PAYMENT-REQUIRED response header observed by the caller. IntentFence hashes and evaluates this quote without contacting the target.",
            "example": "eyJ4NDAyVmVyc2lvbiI6MiwicmVzb3VyY2UiOnsidXJsIjoiaHR0cHM6Ly9tZXJjaGFudC5leGFtcGxlL2FwaS9wYWlkLXJlc291cmNlIiwiZGVzY3JpcHRpb24iOiJQYWlkIHJlc291cmNlIiwibWltZVR5cGUiOiJhcHBsaWNhdGlvbi9qc29uIn0sImFjY2VwdHMiOlt7InNjaGVtZSI6ImV4YWN0IiwibmV0d29yayI6ImVpcDE1NTo4NDUzIiwiYW1vdW50IjoiMTAwMDAiLCJhc3NldCI6IjB4ODMzNTg5ZkNENmVEYjZFMDhmNGM3QzMyRDRmNzFiNTRiZEEwMjkxMyIsInBheVRvIjoiMHgxMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExIiwibWF4VGltZW91dFNlY29uZHMiOjMwMCwiZXh0cmEiOnsibmFtZSI6IlVTRCBDb2luIiwidmVyc2lvbiI6IjIifX1dfQ=="
          },
          "policy": {
            "type": "object",
            "additionalProperties": false,
            "required": ["max_price_usdc"],
            "properties": {
              "max_price_usdc": {
                "type": "string",
                "pattern": "^(?:0|[1-9][0-9]{0,11})(?:\\.[0-9]{1,6})?$",
                "description": "Precise USDC ceiling as a decimal string.",
                "example": "0.10"
              },
              "allowed_payees": {
                "type": "array",
                "minItems": 1,
                "maxItems": 20,
                "uniqueItems": true,
                "description": "Approved EVM recipients. When omitted, the assessment cannot return safe_to_proceed and returns needs_review unless another check denies the quote.",
                "items": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
              }
            }
          }
        }
      },
      "X402AssessmentDecision": {
        "type": "object",
        "required": [
          "intentfence",
          "request_id",
          "status",
          "assessed_at",
          "target",
          "observed",
          "checks",
          "verification_tier",
          "receipt"
        ],
        "properties": {
          "intentfence": { "const": "0.6" },
          "request_id": { "type": "string", "format": "uuid" },
          "status": {
            "type": "string",
            "enum": ["safe_to_proceed", "needs_review", "denied"]
          },
          "assessed_at": { "type": "string", "format": "date-time" },
          "target": {
            "type": "object",
            "required": ["origin", "pathname", "has_query", "method", "url_sha256"],
            "properties": {
              "origin": { "type": "string", "format": "uri" },
              "pathname": { "type": "string" },
              "has_query": { "type": "boolean" },
              "method": { "type": "string", "enum": ["GET", "HEAD", "POST"] },
              "url_sha256": { "type": "string", "pattern": "^[0-9a-f]{64}$" }
            }
          },
          "observed": {
            "type": "object",
            "required": [
              "challenge_source",
              "x402_version",
              "payment_requirements_sha256",
              "accepts"
            ],
            "properties": {
              "challenge_source": {
                "type": "string",
                "const": "caller-supplied-payment-required"
              },
              "x402_version": { "type": "integer", "const": 2 },
              "payment_requirements_sha256": {
                "type": "string",
                "pattern": "^[0-9a-f]{64}$"
              },
              "accepts": { "type": "array", "items": { "type": "object" } }
            }
          },
          "checks": { "type": "array", "items": { "type": "object" } },
          "verification_tier": {
            "type": "string",
            "const": "x402-quote-assessment+x402-settled"
          },
          "receipt": {
            "type": "object",
            "required": ["signed", "assurance", "expires_at", "signature"],
            "properties": {
              "signed": { "const": true },
              "assurance": {
                "type": "string",
                "const": "caller-observed-x402-quote-assessment"
              },
              "expires_at": { "type": "string", "format": "date-time" },
              "signature": { "type": "object" }
            }
          }
        }
      },
      "PreflightRequest": {
        "type": "object",
        "required": ["subject", "action"],
        "properties": {
          "subject": { "type": "string", "minLength": 1, "maxLength": 200 },
          "action": {
            "type": "object",
            "required": ["type"],
            "properties": {
              "type": { "type": "string", "minLength": 1, "maxLength": 120 },
              "resource": { "type": "string", "maxLength": 500 }
            }
          },
          "constraints": {
            "type": "object",
            "properties": {
              "currency": { "type": "string", "maxLength": 12 },
              "cost_ceiling": { "type": "number", "minimum": 0 },
              "quoted_cost": { "type": "number", "minimum": 0 },
              "data_retention_hours": { "type": "number", "minimum": 0 },
              "human_approval": {
                "type": "string",
                "enum": ["required", "optional", "not_required"]
              }
            }
          },
          "proofs": {
            "type": "array",
            "maxItems": 20,
            "items": { "type": "string", "maxLength": 200 }
          }
        }
      },
      "PreflightDecision": {
        "type": "object",
        "required": ["intentfence", "request_id", "status", "checks", "receipt"],
        "properties": {
          "intentfence": { "type": "string", "const": "0.5" },
          "request_id": { "type": "string", "format": "uuid" },
          "status": {
            "type": "string",
            "enum": ["safe_to_proceed", "needs_review", "denied"]
          },
          "checks": { "type": "array", "items": { "type": "object" } },
          "receipt": { "type": "object" }
        }
      },
      "PaidPreflightDecision": {
        "allOf": [
          { "$ref": "#/components/schemas/PreflightDecision" },
          {
            "type": "object",
            "required": ["verification_tier"],
            "properties": {
              "verification_tier": { "type": "string", "const": "x402-settled" }
            }
          }
        ]
      }
    }
  }
}
